@charset "UTF-8";

@-webkit-keyframes ball {
  0% {
    opacity: 1;
    top: 10%;
  }

  to {
    opacity: 0;
    top: 60%;
  }
}

@keyframes ball {
  0% {
    opacity: 1;
    top: 10%;
  }

  to {
    opacity: 0;
    top: 60%;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoRegular/RobotoRegular.eot);
  src: url(../fonts/RobotoRegular/RobotoRegular.eot?iefix) format("eot"),url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"),url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PlayfairDisplay/playfair-display-sc-v7-latin-regular.eot);
  src: local("Playfair Display SC Regular"),local("PlayfairDisplaySC-Regular"),url(../fonts/PlayfairDisplay/playfair-display-sc-v7-latin-regular.eot?#iefix) format("embedded-opentype");
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/PlayfairDisplay/playfair-display-sc-v7-latin-700.eot);
  src: local("Playfair Display SC Bold"),local("PlayfairDisplaySC-Bold"),url(../fonts/PlayfairDisplay/playfair-display-sc-v7-latin-700.eot?#iefix) format("embedded-opentype");
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/PlayfairDisplay/playfair-display-sc-v7-latin-italic.eot);
  src: local("Playfair Display SC Italic"),local("PlayfairDisplaySC-Italic"),url(../fonts/PlayfairDisplay/playfair-display-sc-v7-latin-italic.eot?#iefix) format("embedded-opentype");
}

.slick-list,
.slick-slider {
  position: relative;
  display: block;
}

.slick-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-dots li button:focus,
.slick-dots li button:hover,
.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after,
.slick-track:before {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-initialized .slick-slide,
.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: 0 0;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  padding: 0;
  border: 0;
  outline: 0;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  outline: 0;
  background: 0 0;
  color: transparent;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before,
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: .25;
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: .75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

.slick-next:before,
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}

[dir=rtl] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.slick-dots li,
body {
  position: relative;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: 0 0;
  display: block;
  outline: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #aeb1b5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: .25;
}

.slick-dots li.slick-active button:before {
  color: #000;
  opacity: .75;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.slick-dots,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

li,
ul {
  padding: 0;
  list-style-type: none;
}

body,
li,
p,
pre,
ul {
  margin: 0;
}

a,
button,
input,
select {
  outline: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.75;
  font-family: "Playfair Display",Georgia,serif;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

.header {
  width: -webkit-calc(100vw - 40px);
  width: calc(100vw - 40px);
  height: -webkit-calc(100vh - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header_half {
  height: -webkit-calc(50vh - 20px);
  height: calc(50vh - 20px);
}

.header_line {
  width: 100vw;
  height: 100%;
  margin: 0 0 20px;
}

.header__wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(75,101,109,.35);
  position: relative;
}

.header__wrapper_dark {
  background-color: rgba(65,68,67,.65);
}

.header__wrapper_white {
  background-color: #fff;
}

.top-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 40px;
}

.hamburger {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.hamburger__box {
  width: 23px;
  height: 16px;
  position: relative;
}

.hamburger__inner,
.hamburger__inner::after,
.hamburger__inner::before {
  width: 23px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.hamburger__inner::after,
.hamburger__inner::before {
  content: '';
  display: block;
}

.hamburger__inner {
  top: 12px;
  left: 11px;
}

.hamburger__inner.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #333;
}

.hamburger__inner.is-active::before {
  top: 0;
  background-color: #333;
}

.hamburger__inner.is-active::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  background-color: #333;
}

.hamburger__inner::before {
  top: -6px;
}

.hamburger__inner::after {
  top: 6px;
}

.nav {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.nav_header {
  font-size: 3rem;
  background-color: #fff;
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.visible {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.nav__link {
  font-weight: 400;
  color: #333;
  font-size: inherit;
  position: relative;
}

.nav__link::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #b39164;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.nav__link:hover::after {
  width: 100%;
}

.logo__image,
.logo__image_header {
  -webkit-background-size: cover;
  background-size: cover;
}

.logo__image {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.logo__image_header {
  position: absolute;
  bottom: 17%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logo__header {
  display: block;
  width: 100%;
  height: 100%;
}

.header__promo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.header__promo_left {
  text-align: left;
  left: 3%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.promo__description,
.promo__title {
  font-size: 5rem;
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.promo__description {
  font-size: 2.25rem;
  line-height: 1.2;
}

.slide-down {
  width: 22px;
  height: 32px;
  border: 2px solid #fff;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.slide-down__ball {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: ball 2.25s infinite;
  animation: ball 2.25s infinite;
}

.section {
  width: -webkit-calc(100vw - 40px);
  width: calc(100vw - 40px);
  height: -webkit-calc(100vh - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
  background-color: #fff;
  position: relative;
}

.section_half {
  height: -webkit-calc(50vh - 30px);
  height: calc(50vh - 30px);
}

.section__info,
.section__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section__wrapper {
  height: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section__wrapper_reverse .section__info {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.section__wrapper_reverse .section__photo {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.section__info {
  background-color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section__info_slider {
  width: 90%;
  height: 65%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
}

.section__info_half {
  width: 50%;
  padding-left: 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section__info_quarter {
  width: 25%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  text-align: center;
}

.section__title {
  font-size: 3.25rem;
  font-weight: 700;
  color: #333;
  line-height: 1.5;
}

.section__description {
  font-weight: 400;
  color: rgba(51,51,51,.6);
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #6bb470;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .875rem 1rem;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.button:hover {
  background-color: #5ea763;
}

.button_white {
  background-color: #fff;
  color: rgba(51,51,51,.7);
  border: 1px solid #e7e7e7;
}

.button_white:hover {
  color: #333;
  background-color: transparent;
  border: 1px solid #a7a7a7;
}

.section__photo {
  width: 50%;
  height: auto;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.section__text {
  width: 90%;
  color: rgba(51,51,51,.85);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.gallery__item {
  width: 25%;
}

.gallery__link {
  display: block;
  position: relative;
}

.gallery__link:hover .gallery__text,
.gallery__link:hover .gallery__title {
  margin-top: 0;
  opacity: 1;
}

.gallery__link:hover .gallery__overlay {
  background-color: rgba(51,51,51,.5);
}

.gallery__link,
.gallery__photo {
  width: 100%;
  height: 100%;
}

.gallery__overlay,
.gallery__text,
.gallery__title {
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

.gallery__overlay {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.gallery__text,
.gallery__title {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0;
}

.gallery__text {
  font-size: 1.25rem;
  line-height: 1.5;
  overflow: hidden;
}

.section__background-photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.section__info_wide {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
}

.section__description_white,
.section__title_white {
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.button_no-border {
  border-color: transparent;
  margin: 25px auto 0;
  background-color: #fff;
}

.button_no-border:hover {
  background-color: rgba(255,255,255,.85);
  color: rgba(51,51,51,.7);
  border-color: transparent;
}

.guestbook-slider {
  margin-bottom: 60px;
}

.guestbook-slider__item {
  margin: 15px auto 40px;
}

.guestbook-slider__photo {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 25px;
}

.guestbook-slider__text {
  font-size: 1.2rem;
  color: rgba(51,51,51,.85);
  margin-bottom: 25px;
}

.guestbook-slider__author {
  font-weight: 700;
  color: rgba(51,51,51,.6);
  font-size: 1rem;
}

.guestbook-slider__author::before {
  content: '\2014';
  padding-right: .5rem;
}

.guestbook-slider__author::after {
  content: '\2014';
  padding-left: .5rem;
}

.slick-dots li.slick-active button {
  background-color: #fff;
  width: 16px;
  height: 16px;
  border: 1px solid #aeb1b5;
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-family: #333;
}

.section__map {
  width: 50%;
  height: 100%;
}

.footer {
  background-color: #fff;
  padding: 55px 40px 100px;
}

.footer__wrapper,
.social__wrapper_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__wrapper {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social__wrapper_footer {
  width: 42%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav_footer,
.news_footer {
  font-size: 1rem;
  margin-top: 20px;
}

.nav__link_no-border::after {
  content: "";
  display: none;
}

.nav__link_no-border:hover,
.news__link:hover {
  color: #b39164;
}

.news__link {
  font-weight: 400;
  color: #333;
}

.nav__wrapper,
.news__wrapper {
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  width: 20%;
}

.logo__image_footer {
  margin-bottom: 30px;
  position: relative;
  left: 15px;
}

.social__item {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .7;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item:hover {
  opacity: 1;
}

.social__item_facebook,
.social__item_instagram,
.social__item_youtube {
  background-image: url(../img/svg/facebook-icon.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.social__item_instagram,
.social__item_youtube {
  background-image: url(../img/svg/instagram-icon.svg);
}

.social__item_youtube {
  background-image: url(../img/svg/youtube-icon.svg);
}

.preloader,
.preloader__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.preloader__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
}

.preloader {
  width: 100vw;
  height: 100vw;
  text-align: center;
}

.counter {
  width: 100%;
}

.percentage {
  font-size: 3.5rem;
  color: #333;
}

.progress-bar {
  width: 0;
  height: 1px;
  background-color: #b39164;
}

.section_about-us {
  margin-top: -20px;
  height: 100%;
  padding-top: 75px;
  padding-bottom: 100px;
}

.about {
  width: 66%;
  margin: 0 auto;
}

.promo__title_small {
  font-size: 4.5rem;
}

.about__header {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.375rem;
}

.about__text {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.about__sub-header {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.45rem;
}

.about__map {
  width: 100%;
  height: 400px;
  margin-bottom: 1.5rem;
}

.about-form__input,
.about-form__textarea {
  width: 100%;
  display: block;
  padding: 15px;
  border: 1px solid #e7e7e7;
  color: rgba(51,51,51,.85);
  font-size: 1rem;
  margin-bottom: 30px;
  font-family: Roboto,Georgia,sans-serif;
}

.about-form__textarea {
  resize: none;
}

.about-form__button {
  border: 0;
}

.promo__description_italic {
  font-style: italic;
}

.area__wrapper,
.bed__wrapper,
.date__wrapper,
.guest__wrapper,
.location__wrapper,
.nutrition__wrapper {
  position: relative;
  display: inline-block;
  color: rgba(51,51,51,.6);
  margin-right: 20px;
  margin-bottom: 25px;
  padding: 10px 15px 10px 30px;
  font-size: 1rem;
  line-height: 1.5rem;
  border-right: 1px solid #e7e7e7;
  font-weight: 700;
}

.area__wrapper:last-child,
.bed__wrapper:last-child,
.date__wrapper:last-child,
.guest__wrapper:last-child,
.location__wrapper:last-child,
.nutrition__wrapper:last-child {
  margin-right: 0;
  border-right: none;
}

.area__wrapper::before,
.bed__wrapper::before,
.guest__wrapper::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/couple-icon.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.area__wrapper::before,
.bed__wrapper::before {
  background-image: url(../img/svg/bed-icon.svg);
}

.area__wrapper::before {
  background-image: url(../img/svg/move-icon.svg);
}

.date__wrapper::before,
.location__wrapper::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
}

.date__wrapper::before {
  background-image: url(../img/svg/calendar.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.location__wrapper::before,
.nutrition__wrapper::before {
  background-image: url(../img/svg/placeholder.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.nutrition__wrapper::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/cutlery.svg);
}

.guestbook-slider__item_single {
  height: 100%;
  width: -webkit-calc(100vw - 40px);
  width: calc(100vw - 40px);
  margin: 20px;
  background-color: #fff;
  padding: 80px 0;
  text-align: center;
}

.guestbook-slider__text_short {
  width: 60%;
  margin: 0 auto;
}

.section_st-valentine-promo {
  height: 100%;
  margin-top: -20px;
}

.header__event-description {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.date_white,
.guest__amount_white,
.nutrition_white {
  color: #fff;
}

.date__wrapper_white::before {
  background-image: url(../img/svg/calendar_white.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.guest__wrapper_white::before,
.nutrition__wrapper_white::before {
  background-image: url(../img/svg/couple-icon_white.svg);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.nutrition__wrapper_white::before {
  background-image: url(../img/svg/cutlery_white.svg);
}

.promo__wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-9 {
  width: 65%;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.col-3 {
  width: 32%;
}

.promo__sub-header {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.45rem;
}

.promo__header {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.35rem;
  font-weight: 700;
  line-height: 1.1;
}

.promo__text {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.promo__photo {
  width: 90%;
  margin-bottom: 1.6rem;
}

.promo__gallery-item {
  width: 32%;
  margin-right: 5px;
  position: relative;
}

.promo__gallery-item:last-child {
  margin-right: 0;
}

.reserve__wrapper {
  background-color: #fafafa;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 30px;
}

.reserve__title {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.reserve__price {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.reserve__description {
  display: block;
  font-size: .9rem;
  color: #333;
  margin-bottom: 1.6rem;
}

.hamburger__inner_dark,
.hamburger__inner_dark::after,
.hamburger__inner_dark::before {
  background-color: #363636;
}

.section_news {
  height: 100%;
  padding: 70px 20px;
}

.article__list {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.article__item {
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;
}

.article__item:last-child {
  border-bottom: none;
}

.article__title {
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: 700;
  color: #333;
}

.article__link:hover,
.article__title:hover {
  color: #b39164;
}

.article__date {
  color: rgba(51,51,51,.6);
  line-height: 1.6;
  font-size: 1rem;
  margin: 1.25rem 0 1.5rem;
}

.article__photo {
  width: 100%;
  margin-bottom: 1.2rem;
}

.article__description,
.article__link {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.article__link {
  line-height: 2;
  text-decoration: underline;
  font-weight: 700;
}

.article__wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.article__header {
  font-size: 3.375rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  font-weight: 700;
  color: #333;
}

.article__map {
  width: 100%;
  height: 400px;
  margin-bottom: 1.5rem;
}

.article__sub-header {
  color: #333;
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

.article__text {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.6;
}

@media only screen and (max-width:992px) {
  .section__map,
  .section__photo {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    height: -webkit-calc(50vh - 30px);
    height: calc(50vh - 30px);
  }

  .section__info {
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
  }

  .section__info,
  .section_half {
    height: -webkit-calc(100vh - 40px);
    height: calc(100vh - 40px);
  }

  .section_wide {
    height: -webkit-calc(50vh - 20px);
    height: calc(50vh - 20px);
  }

  .section__info_half {
    height: -webkit-calc(50vh - 40px);
    height: calc(50vh - 40px);
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section__info_quarter {
    height: -webkit-calc(50vh - 20px);
    height: calc(50vh - 20px);
    width: 50%;
  }

  .gallery__item {
    width: 50%;
    height: 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .section__wrapper_reverse .section__info {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .promo__title_small {
    font-size: 3.5rem;
  }

  .promo__description_small {
    font-size: 2rem;
  }

  .promo__wrapper {
    width: 100%;
  }
}

@media only screen and (max-width:768px) {
  .promo__title {
    font-size: 4.5rem;
  }

  .promo__description {
    font-size: 2rem;
  }

  .promo__title_small {
    font-size: 2.75rem;
  }

  .promo__description_small {
    font-size: 1.7rem;
  }

  .section_half {
    height: 100%;
  }

  .section_wide {
    height: -webkit-calc(50vh - 30px);
    height: calc(50vh - 30px);
  }

  .gallery__item,
  .section__info_half,
  .section__info_quarter {
    width: 100%;
    height: -webkit-calc(50vh - 10px);
    height: calc(50vh - 10px);
  }

  .footer__wrapper {
    text-align: center;
  }

  .social__wrapper_footer {
    width: 100%;
  }

  .nav__wrapper,
  .news__wrapper {
    width: 50%;
  }

  .logo__image_footer {
    margin: 0 auto 20px;
    left: 0;
  }

  .social__wrapper_footer {
    margin-bottom: 50px;
  }

  .about {
    width: 75%;
  }

  .about__map {
    height: 350px;
  }

  .col-9 {
    margin-bottom: 50px;
  }

  .col-3,
  .col-9,
  .promo__photo {
    width: 100%;
  }

  .promo__gallery-item {
    width: 100%;
    margin-right: 0;
  }

  .promo__text {
    text-align: justify;
  }
}

@media only screen and (max-width:480px) {
  .section__info_high,
  .section_food-item,
  .section_room-item {
    height: 100%;
  }

  .section__info {
    padding-bottom: 20px;
  }

  .promo__title {
    font-size: 3.25rem;
    line-height: 1.1;
  }

  .promo__description {
    font-size: 1.75rem;
  }

  .promo__title_small {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
  }

  .promo__description_small {
    font-size: 1.3rem;
  }

  .section__title {
    font-size: 2.25rem;
  }

  .section__description {
    font-size: 1.25rem;
    margin-bottom: 5px;
  }

  .section__text {
    font-size: .75rem;
  }

  .section__info_slider {
    height: 100%;
    margin-top: 20px;
  }

  .section_guestbook {
    height: 115vh;
  }

  .guestbook-slider {
    margin-bottom: 30px;
  }

  .guestbook-slider__text_short {
    width: 85%;
  }

  .gallery__text {
    font-size: 1rem;
  }

  .nav__wrapper,
  .news__wrapper {
    width: 100%;
  }

  .news__wrapper {
    margin-bottom: 50px;
  }

  .about {
    width: 85%;
  }

  .about__map {
    height: 300px;
  }

  .bed__wrapper,
  .date__wrapper,
  .guest__wrapper,
  .location__wrapper,
  .nutrition__wrapper {
    border-right: none;
  }

  .date__wrapper_white,
  .guest__wrapper_white,
  .nutrition__wrapper_white {
    margin-bottom: 0;
    line-height: 1;
  }

  .promo__wrapper {
    padding: 45px 20px;
  }

  .article__description,
  .article__link {
    font-size: 1.15rem;
  }

  .article__sub-header {
    font-size: 1.65rem;
  }

  .article__header {
    font-size: 2rem;
  }

  .article__text {
    font-size: 1.2rem;
    text-align: justify;
  }
}